*,*:before,*:after{
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: Arial;
    padding: 0;
    margin: 0;
}


.wrap{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.hungry-h1{
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 20px;
}
.hungry-text{
    font-size: 18px;
    text-align: center;
}
.hungry-btn{
    text-align: center;
    margin-top: 10px;
}
.hungry-link{
    padding: 10px 20px;
    background: rebeccapurple;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background .2s ease;
}
.hungry-link:hover{
    background: #943bcf;
}
.loading{
    text-align: center;
}
.hungry-item{
    margin-top: 100px;
}
.hungry-item__right-title{
    font-size: 30px;
    margin-bottom: 20px;
}
.hungry-item__categories{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.hungry-item__categories-cat{
    margin-right: 15px;
    margin-bottom: 10px;
}
.hungry-item__categories-cat span{
    font-weight: bold;
    margin-right: 5px;
}
.hungry-item__top{

}
.hungry-item__img{
    max-width: 50%;
    object-fit: contain;
    float: left;
    margin: 0 20px 20px 0;
}
.hungry-item__right{

}
.hungry-item__right-ingredients{
    padding-left: 0;
    margin: 0 0 20px 0;
}
.hungry-item__right-ingredients li{
    list-style-type: none;
    margin-bottom: 10px;
}
.hungry-item__right-text{
    line-height: 30px;
}
.hungry-item__h2{
    margin-top: 50px;
    clear: both;
}
.hungry-item__video iframe{
    margin-bottom: 50px;
}
@media screen and (max-width: 576px){
    .hungry-item__img{
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .hungry-item__video iframe{
        height: 300px;
    }
}
@media screen and (max-width: 480px){
    .hungry-item__img{
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
    }
}